
@{
    ViewBag.Title = "Display";
}

<link rel="stylesheet" type="text/css" href="~/Content/Styles/Styles.css">

<h2>Stack</h2>

<ul class="w3-bar w3-border w3-light-grey">
    <li><a href="@Url.Action("AddOne", "Stack")">Add one time to stack</a></li>
    <li><a href="@Url.Action("AddHuge", "Stack")">Add Huge List of Items to Stack</a></li>
    <li><a href="@Url.Action("DisplayStack", "Stack")">Display Stack</a></li>
    <li><a href="@Url.Action("DeleteFrom", "Stack")">Delete from Stack</a></li>
    <li><a href="@Url.Action("ClearStack", "Stack")">Clear Stack</a></li>
    <li><a href="@Url.Action("SearchStack", "Stack")">Search Stack</a></li>
    <li><a href="@Url.Action("Index", "Index")">Return to Main Menu</a></li>
</ul>

<div>
    <p>@ViewBag.NoStack</p>
</div>

<div align="left">
    @foreach (var sData in ViewBag.MyStack)
    {
        <p>@sData</p>
    }
</div>

