
@{
    ViewBag.Title = "Display";
}

<h2>Dictionary</h2>

<div class="w3-bar w3-border w3-light-grey">
    <a href="@Url.Action("AddOne", "Dictionary")" class="w3-bar-item w3-button">1. Add one time to Queue</a>
    <br />
    <a href="@Url.Action("AddHuge", "Dictionary")" class="w3-bar-item w3-button w3-hover-green">2. Add Huge List of Items to Queue</a>
    <br />
    <a href="@Url.Action("DisplayDictionary", "Dictionary")" class="w3-bar-item w3-button w3-hover-blue">3. Display Queue</a>
    <br />
    <a href="@Url.Action("DeleteFrom", "Dictionary")" class="w3-bar-item w3-button w3-hover-teal">4. Delete from Queue</a>
    <br />
    <a href="@Url.Action("ClearDictionary", "Dictionary")" class="w3-bar-item w3-button w3-hover-teal">5. Clear Queue</a>
    <br />
    <a href="@Url.Action("SearchDictionary", "Dictionary")" class="w3-bar-item w3-button w3-hover-teal">6. Search Queue</a>
    <br />
    <a href="@Url.Action("Index", "Index")" class="w3-bar-item w3-button w3-hover-teal">7. Return to Main Menu</a>
</div>

<div>
    <p>@ViewBag.NoDictionary</p>
</div>

<div align="left">
    @foreach (var sData in ViewBag.MyDictionary)
    {
        <p>@sData</p>
    }
</div>

