
@{
    ViewBag.Title = "Display";
}

<link rel="stylesheet" type="text/css" href="~/Content/Styles/Styles.css">

<h2>Dictionary</h2>

<ul class="w3-bar w3-border w3-light-grey">
    <li><a href="@Url.Action("AddOne", "Dictionary")">Add one time to Dictionary</a></li>
    <li><a href="@Url.Action("AddHuge", "Dictionary")">Add Huge List of Items to Dictionary</a></li>
    <li><a href="@Url.Action("DisplayDictionary", "Dictionary")">Display Dictionary</a></li>
    <li><a href="@Url.Action("DeleteFrom", "Dictionary")">Delete from Dictionary</a></li>
    <li><a href="@Url.Action("ClearDictionary", "Dictionary")">Clear Dictionary</a></li>
    <li><a href="@Url.Action("SearchDictionary", "Dictionary")">Search Dictionary</a></li>
    <li><a href="@Url.Action("Index", "Index")">Return to Main Menu</a></li>
</ul>

<div>
    <p>@ViewBag.NoDictionary</p>
</div>

<div align="left">
    @foreach (var sData in ViewBag.MyDictionary)
    {
        <p>@sData</p>
    }
</div>

