
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/Styles/Styles.css">

<h2>Queue</h2>

<ul class="w3-bar w3-border w3-light-grey">
<li><a href="@Url.Action("AddOne", "Queue")">Add one time to Queue</a></li>
<li><a href="@Url.Action("AddHuge", "Queue")">Add Huge List of Items to Queue</a></li>
<li><a href="@Url.Action("DisplayQueue", "Queue")">Display Queue</a></li>
<li><a href="@Url.Action("DeleteFrom", "Queue")">Delete from Queue</a></li>
<li><a href="@Url.Action("ClearQueue", "Queue")">Clear Queue</a></li>
<li><a href="@Url.Action("SearchQueue", "Queue")">Search Queue</a></li>
<li><a href="@Url.Action("Index", "Index")">Return to Main Menu</a></li>
</ul>

<body>
    <div align="left" position="top">
        <p>@ViewBag.Delete</p>
        <p>@ViewBag.SearchResults</p>
    </div>
</body>
